<!DOCTYPE html>
<html lang="en">
<head>{% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/styles_our_team.css' %} >
    <link rel="stylesheet" type="text/css" href={% static 'css/styles_topnav.css' %} >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="topnav">
        <img src={% static 'images/logo.png' %} class="logo" />
        <a href={% url "home" %}>Team</a>
        <a href={% url "home" %}>About</a>
        <a href={% url "home" %}>Home</a>
       
    </div>
    <div class="container">
        
        <h1 class="h1"> Team Members</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src={% static 'images/arouba.jpeg' %} />
                    </div>
                    <h3 class="title">Arouba Mushtaq</h3>
                    <h3 class="rollno">CS-18051</h3>
                </div>
            </div>

     
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src={% static 'images/insiyah.jpeg' %} />
                    </div>
                    <h3 class="title">Insiyah Talib</h3>
                    <h3 class="rollno">CS-18044</h3>
                </div>
            </div>
           
            
    
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src={% static 'images/raheen.jpeg' %}/>
                    </div>
                    <h3 class="title">Raheen Ahmed</h3>
                    <h3 class="rollno">CS-18072</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src={% static 'images/saima.jpeg' %}/>
                    </div>
                    <h3 class="title">Saima Ali</h3>
                    <h3 class="rollno">CS-18126</h3>

                </div>
            </div>
            
    
        </div>
    </div>
</body>
</html>