<!DOCTYPE html>
<html lang="en">
<head>{% load static %} 
    <link rel="stylesheet" type="text/css" href={% static 'css/styles_topnav.css' %} >
    <link rel="stylesheet" type="text/css" href={% static 'css/style_about.css' %} >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="topnav">
        <img src={% static 'images/logo.png' %} class="logo" />
        <a href={% url "our_team" %}>Team</a> 
        <a href={% url "about" %}>About</a>
        <a href={% url "home" %}>Home</a>
    </div>
    <div class="wrapper">

        <div class="background-container">
        </div>
        <div class="about-container">
            
            <div class="image-container">
                <img src={% static 'images/about_project.png' %}/>
                
            </div>

            <div class="text-container">
                <h1>About</h1>
                <p>Air writing is a concept to write in free space without any aid of stylus, graphical tablets etc. It is a revolutionized software especially built for visually impaired users, hyplexic people and people with Language Development Diorder.
                    Allows users to write in front of webcam just by moving finger in air, as the software detects the finger using Media Pipe and creates writing event using Open CV  by its movement. By combining different state of arts we also integrate recognition of words where users write and get recognized by the machine by applying ML models and OCR techniques using NanoNets.
                    This recognized text is shown on screen to let users know that machines predicts what they write.
                    Also our software provides feature to convert Text written in Air to be converted into audio/speech using 'pyttsx3' library.
                    This software is further portrayed or accessed by website built using HTML, CSS and Django.</p>
            </div>
            
        </div>
    </div>
    

</body>
</html>